*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;

    background:
    linear-gradient(
    rgba(13,71,161,0.85),
    rgba(21,101,192,0.85)),
    url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:420px;
    padding:40px;

    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.3);

    color:white;
}

.bank-icon{
    text-align:center;
    font-size:55px;
    margin-bottom:15px;
    color:#FFD54F;
}

.login-box h2{
    text-align:center;
    margin-bottom:10px;
    font-size:32px;
}

.login-box p{
    text-align:center;
    margin-bottom:25px;
    color:#eeeeee;
}

.input-group{
    position:relative;
    margin-bottom:18px;
}

.input-group i{
    position:absolute;
    left:15px;
    top:15px;
    color:#666;
}

.input-group input{
    width:100%;
    padding:14px 14px 14px 45px;
    border:none;
    border-radius:8px;
    outline:none;
    font-size:15px;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    font-size:14px;
}

.options a{
    color:#FFD54F;
    text-decoration:none;
}

.options a:hover{
    text-decoration:underline;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;

    background:#ff9800;
    color:white;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    background:#fb8c00;
    transform:translateY(-2px);
}

.register-link{
    text-align:center;
    margin-top:20px;
}

.register-link a{
    color:#FFD54F;
    text-decoration:none;
    font-weight:bold;
}

.register-link a:hover{
    text-decoration:underline;
}